body{
	background-image: url(background.png);
	background-size: cover;
	background-attachment: fixed;
}

h1{
	color: white;
}

#btn{
	position: absolute;
	top: 90%;
	right: 45%
}

button:hover{
	cursor: pointer;

}